@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*Poppins*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightskyblue;
}
h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
td {
    border: 2px solid black;
    width: 150px;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Poppins';
    
}

table {
    border-collapse: collapse;
    margin: auto;
    
}