@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); /*Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); /*Manrope*/

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(72, 117, 134);
}

h1 {
    text-align: center;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    padding-top: 50px;
}

h2 {
    text-align: center;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
}

tr, td {
    border: 2px solid black;
    width: 200px;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 50px;
}

.bordernone{
    border: none;
}