@charset "UTF-8";

/*Versão Mobile First*/

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
}

body{
    background-color: url(../imagens/back-phone.jpg) no-repeat;
    background-position: left center;
}

main{
    background-color: rgba(255, 255, 255, 0.685);
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

