@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');/*Roboto*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(67, 197, 197, 0.295);
}

h1, h2{
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1{
    margin-top: 50px;
}

th{
    background-color: lightslategray;
}

table{
    border-collapse: collapse;
    margin: auto;
    margin-top: 50px;
}

th, td, tr{
    border: 2px solid black;
    width: 150px;
    padding: 10px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.nota{
    text-align: center;
    background-color: rgba(75, 78, 80, 0.541);
}

.exahum{
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgba(119, 136, 153, 0.562);
    text-align: center;
}

th{
    font-size: 1.2em;
}

.materia{
    background-color: rgba(119, 136, 153, 0.562);
}

