@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: block;
    width: 100vw;
    height: 14vh;
    background-color: rgba(100, 97, 97, 0.582);
}

header > ul > li{
    display: inline-block;
    padding-right: 10px;
}

header > ul > li > a{
    text-decoration: none;
    background-color: rgb(75, 74, 74);
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
}


header h1{
    text-align: center;
    padding: 20px 0px 20px 0px;
    
}

main{
    margin-top: 50px;
}

main h2{
    display: block;
    margin: auto;
    width: 900px;
    margin-bottom: 20px;
}

main p{
    display: block;
    margin: auto;
    width: 900px;
    text-align: justify;
    
}

@media screen and (max-width: 600px) {
    main > p{
        width: 400px;
        font-size: 0.9em;
    }

    main > h2{
        width: 400px;
        text-align: center;
        font-size: 1.2em;
    }

    header{
        font-size: 0.9em;
        width: 483px;
        height: 13.3vh;
    }

    header > ul > li{
        display: inline-block;
        margin: auto;
        padding-right: 8px;
    }
    
}