@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    color: white;
}
header{
    background-color: rgba(100, 97, 97, 0.87);
    
}

#itens{
    display: none;
}

header > menu > ul > li > a{
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    background-color: rgb(190, 187, 187);
    color: black;
    padding: 10px;
    font-weight: bold; 
}

#burger{
    background-color: rgb(59, 58, 58);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    
}

#burger:hover{
    background-color: rgb(148, 143, 143);
    color: black;
}

header h1{
    text-align: center;
    padding: 20px 0px 20px 0px;
    
}

main{
    margin-top: 50px;
}

main h2{
    display: block;
    margin: auto;
    width: 400px;
    margin-bottom: 20px;
}

main p{
    display: block;
    margin: auto;
    width: 400px;
    text-align: justify;
    
}

header > ul > li > a:hover{
    color: rgb(128, 126, 126);
}

